.SCont {
  /* border: 2px solid white; */
  /* background: red; */
  width: 100vw;
  height: 99.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.storyScreen {
  background: white;
  width: 35vw;
  height: 100vh;
}

.username {
  background: rgb(206, 7, 7);
  height: 7vh;
  padding-left: 15px;
  font-size: 30px;
  align-items: center;
}

